<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">
    <div class="form-group">
        <label>Name
            <input type="text" th:field="${event.name}" class="form-control">
        </label>
        <p class="error" th:errors="${event.name}"></p>
    </div>
    <div class="form-group">
        <label>Description
            <input type="text" th:field="${event.description}" class="form-control">
        </label>
        <p class="error" th:errors="${event.description}"></p>
    </div>
    <div class="form-group">
        <label>Location
            <input type="text" th:field="${event.location}" class="form-control">
        </label>
        <p class="error" th:errors="${event.location}"></p>
    </div>
    <div class="form-group">
        <label>Number of Attendees
            <input type="number" th:field="${event.location}" class="form-control">
        </label>
        <p class="error" th:errors="${event.location}"></p>
    </div>
    <div class="form-group">
        <label>Registration Mandatory
            <input type="checkbox" th:field="${event.mustRegister}" class="form-control">       <!--This mustRegister div is probably wrong-->
        </label>
        <p class="error" th:errors="${event.mustRegister}"></p>
    </div>
    <div class="form-group">
        <label>Outside Food and Drink Allowed
            <input type="checkbox" th:field="${event.isOutsideFoodAndDrinkAllowed}" class="form-control"> <!--This outside food and drink div is probably wrong-->
        </label>
        <p class="error" th:errors="${event.isOutsideFoodAndDrinkAllowed}"></p>
    </div>
    <div class="form-group">
        <label>Contact Email
            <input type="email" th:field="${event.contactEmail}" class="form-control">
        </label>
            <p class="error" th:errors="${event.contactEmail}"></p>
    </div>
    <div class="form-group">
        <label>Type
            <select th:field="${event.type}">
                <option th:each="type : ${types}"
                        th:value="${type}"
                        th:text="${type.displayName}"
                ></option>
            </select>
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success">
    </div>
</form>

</body>
</html>