<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post" th:action="@{/events/edit}">
    <div class="form-group">
        <input type="hidden" th:value="${theEvent.id}" name="eventId"/>
        <label>Name
            <input type="text" name="name" class="form-control" th:value="${theEvent.name}">
        </label>
    </div>
    <div class="form-group">
        <label>Description
            <input type="text" name="description" class="form-control" th:value="${theEvent.description}">
        </label>
    </div>
    <div class="form-group">
        <label>Location
            <input type="text" name="location" class="form-control" th:value="${theEvent.location}">
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Edit" class="btn btn-warning">
    </div>
</form>

</body>
</html>